:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-title {
  font-weight: 600;
}

.spacer {
  flex: 1 1 auto;
}

a[mat-button] {
  text-decoration: none;
}

.active-link {
  font-weight: 700;
}

.app-content {
  flex: 1 1 auto;
  padding: 24px;
  background-color: #f5f5f5;
}
